NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
# NIKO SUN contract on testnet (see docs/ciclo-onchain-testnet.md)
NEXT_PUBLIC_CONTRACT_ID=CAFJK3XSGBJVOPIDPKJ7CCGNCGHFZOXA75HDQ372KDJSEKXVVPQ4EVQK
