NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
# NIKO SUN contract on testnet (see docs/ciclo-onchain-testnet.md)
NEXT_PUBLIC_CONTRACT_ID=CCV6LA77VHMBTDP2RBIG5J5HULSKNSDB5FN5QYBIK3T5VRNPQFARAPAH
